target
out
node_modules
.bsp
.scala-build
.stainless-cache
evaluation/stainless/lib/
evaluation/schmid/lib/
paper/paper-diff.*
smt-sessions/
evaluation/results/
artifact/
mechanization/refinement_types/html/
website/mechanization/
website/paper.pdf
website/paper-acm.pdf
website/presentation/
website/playground/
.metals
.vscode
