:root {
  color-scheme: light dark;
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
  font-size: 110%;
}

@media screen and (max-width: 40rem) {
  :root {
    font-size: 100%;
  }
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}


body {
  font-weight: 300;
  line-height: 1.5;
  margin: 1rem auto;
  padding: 1rem;
  max-width: 40rem;
  background-color: light-dark(#fff, #292929);
  color: light-dark(#000, #fff);
}

@media (max-width: 40rem) {
  body {
    margin: 0;
    padding: 0 1rem;
  }
}

h1 {
  margin-left: -0.08rem;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 2.2rem;
}

h2 {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
}

mark {
  background-color: rgb(255, 250, 208);
  color: #000;
}

a {
  text-underline-offset: 0.1rem;
}

.job {
  margin: 0;
}

.top-links {
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;
}

.kind {
  font-style: italic;
}

dl {
  display: grid;
  grid-template-columns: 15rem auto;
  gap: 1rem 0;
}

@media screen and (max-width: 40rem) {
  dl {
    display: block;
  }
}

dl p {
  margin: 0;
}

.buttons a,
.top-links a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  border-radius: 0.25rem;
  border: 1px solid light-dark(#ccc, #555);
  padding: 0 0.5rem;
  margin-top: 0.25rem;
  font-size: 0.85rem;
}

.buttons a:hover,
.top-links a:hover {
  background-color: light-dark(#eee, #444);
}

dd {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 40rem) {
  dd {
    margin-bottom: 2rem;
  }
}
